@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

:root {
  --white: #fff;
  --orange: #c2664e;
  --orange-hover: #de8a74;
  --green: #30a47a;
  --green-hover: #3dc696;
  --dark-green: #113a29;
  --dark-green-hover: #235840;
  --green-light: #dcf5ee;
  --red: #f55555;
  --red-hover: #fc6d6d;
  --yellow: #ffbf52;
  --yellow-hover: #ffd788;
  --disabled: #dfe0df;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  background-color: #fce5cd;
}
