@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

:root {
  --white: #fff;
  --orange: #c2664e;
  --orange-hover: #de8a74;
  --green: #30a47a;
  --green-hover: #3dc696;
  --dark-green: #113a29;
  --dark-green-hover: #235840;
  --light-green: #dcf5ee;
  --red: #f55555;
  --red-hover: #fc6d6d;
  --yellow: #ffbf52;
  --yellow-hover: #ffd788;
  --background-gradient: linear-gradient(
    45deg,
    hsl(23deg 100% 93%) 0%,
    hsl(23deg 97% 94%) 21%,
    hsl(22deg 94% 94%) 30%,
    hsl(22deg 91% 94%) 39%,
    hsl(22deg 86% 95%) 46%,
    hsl(21deg 81% 95%) 54%,
    hsl(21deg 74% 95%) 61%,
    hsl(21deg 67% 96%) 69%,
    hsl(20deg 58% 96%) 79%,
    hsl(20deg 47% 96%) 100%
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;
}
